.important{border-width:2px;}
div.fbform form#fc_seo.ui-widget div.fbbuttonline.ui-corner-all fieldset.fbelement div.fc_settings_max.settings_label{margin-left:250px;}
div#seotool_inner textarea#edit_robots_txt{width:40%;height:400px;}
div#fc_set_form_content.ui-corner-top div button.submit{width:250px;margin:5px;}